body {
  margin: 0px;
}
header {
  height: 100vh;
  background-image: url('../img/bg-header.jpg');
  background-size: cover;
  background-position: center;
  padding: 0px 70px;
  margin: 0px;
}
header nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
}
header nav a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
}
header nav .logo {
  width: 60%;
  font-weight: bold;
  min-width: 600px;
  display: flex;
  flex-flow: row;
}
header nav .logo .img-logo img {
  height: 100px;
}
header nav .logo .text-logo {
  margin-left: 40px;
  font-size: 60px;
  color: #68B0AB;
}
header nav .menu {
  width: 30%;
}
header nav .menu ul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}
header nav .menu ul a {
  color: #006A71;
  margin: 0px 10px;
  padding: 5px 10px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
header nav .leng {
  width: 10%;
  font-size: 27px;
  display: flex;
  justify-content: flex-end;
  align-items: center ;
}
header nav .leng a {
  color: #006A71;
  margin: 0px 10px;
  padding: 5px 10px;
  font-size: 20px;
}
header .centro-header {
  display: flex;
  flex-flow: row;
  height: 60%;
}
header .centro-header .header-text {
  width: 100%;
  font-size: 55px;
  font-weight: bold;
  color: white;
}
header .btn-header {
  width: 50%;
  padding-left: 6%;
}
header .btn-header .btn-explore {
  background-color: #68B0AB;
  color: white;
  text-decoration: none;
  padding: 17px 70px;
  font-size: 30px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 150px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.contenido {
  margin-top: 70px;
  padding: 0px 70px;
}
.contenido .categorias {
  width: 100%;
  height: 800px;
  display: flex;
  flex-flow: column;
  position: relative;
  color: white;
  text-shadow: 0 0 4px #00004a;
}
.contenido .categorias .plantas-decoradas {
  height: 100vh;
  background-image: url('../img/bg-productos-decoradas.jpg');
  background-size: cover;
  background-position: center;
  padding: 0px 70px;
  margin: 0px;
  margin-bottom: 10px;
}
.contenido .categorias .plantas-decoradas h2 {
  font-size: 50px;
  margin-top: 150px;
}
.contenido .categorias .plantas-decoradas h3 {
  font-size: 30px;
}
.contenido .categorias .plantas-decoradas .btn-plantas-decoradas {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 200px;
  border: solid 2px white;
  border-radius: 17px;
  cursor: pointer;
}
.contenido .categorias .otros {
  width: 100%;
  display: flex;
  flex-flow: row;
  height: 390px;
  margin-top: 10px;
}
.contenido .categorias .otros h2 {
  font-size: 45px;
  margin-top: 180px;
}
.contenido .categorias .otros h3 {
  font-size: 25px;
}
.contenido .categorias .otros .plantas {
  width: 33.3%;
  background-image: url('../img/bg-cactus.jpg');
  background-size: cover;
  background-position: center;
  height: 390px;
  margin-right: 10px;
  padding-left: 70px;
}
.contenido .categorias .otros .macetas {
  width: 33.3%;
  background-image: url('../img/bg-macetas.jpg');
  background-size: cover;
  background-position: center;
  height: 390px;
  margin: 0px 10px;
  padding-left: 70px;
}
.contenido .categorias .otros .kits {
  width: 33.3%;
  background-image: url('../img/bg-macetas.jpg');
  background-size: cover;
  background-position: center;
  height: 390px;
  margin-left: 10px;
  padding-left: 70px;
}
.contenido .categorias .otros .btn-plantas-categorias {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 120px;
  border: solid 2px white;
  border-radius: 17px;
  cursor: pointer;
}
.contenido .producto-destacados {
  text-align: center;
  margin-top: 70px;
}
.contenido .producto-destacados h2 {
  margin: auto;
  color: #006A71;
  font-size: 60px;
}
.contenido .producto-destacados .menu-destacados {
  margin-top: 20px;
}
.contenido .producto-destacados .menu-destacados ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}
.contenido .producto-destacados .menu-destacados ul li a {
  color: #ff7e67;
  font-size: 20px;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
}
.contenido .producto-destacados .lista-productos-destacados {
  display: flex;
  flex-flow: row;
  margin-top: 50px;
}
.contenido .producto-destacados .lista-productos-destacados .producto-destacado {
  width: 25%;
  text-align: center;
  padding: 0px 10px;
}
.contenido .producto-destacados .lista-productos-destacados .producto-destacado img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}
.contenido .producto-destacados .lista-productos-destacados .producto-destacado h3 {
  font-size: 25px;
}
.contenido .producto-destacados .lista-productos-destacados .producto-destacado p {
  color: #006A71;
  font-weight: bold;
  font-size: 20px;
}
.contenido .siguenos {
  text-align: center;
  margin-top: 70px;
}
.contenido .siguenos h2 {
  margin: auto;
  color: #006A71;
  font-size: 60px;
}
.contenido .siguenos h3 {
  font-size: 25px;
  color: #ff7e67;
}
.contenido .siguenos .lista-publicaciones {
  display: flex;
  flex-flow: row;
  margin-top: 50px;
}
.contenido .siguenos .lista-publicaciones .publicacion {
  width: 25%;
  text-align: center;
  padding: 0px 10px;
}
.contenido .siguenos .lista-publicaciones .publicacion img {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}
